<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Demo Todo</a>
            <ul class="nav navbar-nav">
                <li {{# if active_tour }}class="active"{{/if}}><a href="/tour">Features Tour</a></li>
                <li {{# if active_about }}class="active"{{/if}}><a href="/about">About</a></li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form" name="signin" action="/signin" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
                <a class="btn btn-primary" href="/register">Register</a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>