extends layout

block content
  h1= title
  a(href="signin") Sign in
  p Welcome to our Demo Blog home page
  ul
    each a in articles.length ? articles : ['There are no articles']
      li
        h2= a.title
        p= a.body
